extends layout

block content
    div(class='container')
        br
        h2= '' + message
        br
        h3= 'Points for ' + last_user
        br
        h4= 'TA: ' + ta
        br
        ul
            li='Multiple swipes can be made per student. The best swipe will be counted for their grade (ex. completed overrides attended).'
            li='Manually typing person number can be used if the student forgot their card.'
            li='If their full name appears at the top of the screen they were successfully found in the database.'
        br
        h1= 'Scan UB card for credit'
        form(action='', method='post')
            br
            select(name="assignment")
                option(value="final", selected=last_assignment=="final") Final Exam
                option(value="lab13", selected=last_assignment=="lab13") Lab 13
                option(value="nextSteps", selected=last_assignment=="nextSteps") Next Steps
                option(value="scientista", selected=last_assignment=="scientista") Scientista
                option(value="acm", selected=last_assignment=="acm") ACM Meeting
                option(value="pythonTutorial", selected=last_assignment=="pythonTutorial") Python Tutorial
                option(value="review", selected=last_assignment=="review") Review Session
                option(value="gameDev", selected=last_assignment=="gameDev") Game Development
                option(value="lab1", selected=last_assignment=="lab1") Lab 1: Mad Libs
                option(value="lab2", selected=last_assignment=="lab2") Lab 2: Grade Calculator
                option(value="lab3", selected=last_assignment=="lab3") Lab 3: Debt Management
                option(value="lab4", selected=last_assignment=="lab4") Lab 4: Order Up
                option(value="lab5", selected=last_assignment=="lab5") Lab 5: Cities
                option(value="lab7", selected=last_assignment=="lab7") Lab 7: Food
                option(value="lab8", selected=last_assignment=="lab8") Lab 8: Thumbnails
                option(value="lab11", selected=last_assignment=="lab11") Lab 11
                option(value="lab12", selected=last_assignment=="lab12") Lab 12
                option(value="lab9", selected=last_assignment=="lab9") Lab 9: Chat Room
                option(value="other", selected=last_assignment=="other") Other
            br
            br

            input(type="radio", name="points", id="attended", value="attended", checked=last_scan=="attended")
            |  Attended today's lab/event
            br
            input(type="radio", name="points", id="attempted", value="tried", checked=last_scan=="tried")
            |  Made an honest attempt to complete today's lab
            br
            input(type="radio", name="points", id="completed", value="completed", checked=last_scan=="completed")
            |  Completed today's lab
            br
            input(type="hidden", name="ta", value=ta)
            br
            input(type'text', id='notes', name='notes')
            |  Notes for Jesse (optional)
            br
            br
            input(type='text', id='scan', name='scan' autofocus)
            |  <--- Scan card with focus here
            br
            br
            input(type='submit', values='submit')
        br
        br


